.main-header{
    text-align: center;
    padding: 50px 0;
}

.main-header .branding{
    font-size: 3.5em;
    color: #303030;
}

a{
    color: #e67e22;
    outline: none;
    text-decoration: none;
}

.main-header .branding img{
    max-width: 100%;
}